

<!--<div *ngIf = words style="float:left"></div>-->
<div id = "main" *ngIf = words>
<div id = "wordList" *ngIf = words>
    <ul class="words">
    <li *ngFor = "let word of words"
        [class.selected]="word === selectedWord"
        (click) = "onSelect(word)">
      <span class="badge">{{word.keyword}}</span>

    </li>
  </ul>
</div>

<!--<div style="float: left; margin: 40px ">-->
<div id ="captionList" *ngIf = words>
  <app-word-caption [word]="selectedWord"> </app-word-caption>
</div>
</div>

