.loader {

  margin: 40px;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #1abc9c;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#img {
  border:15px solid #1abc9c;
  margin:auto;
  display:block;
  max-width: 500px;
  max-height: 450px;
  width: auto;
  height: auto;


}
/*#button {*/
  /*background-color: #369;*/
  /*color: #FFFFFF;*/

/*}*/

#input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}
#label{
  /*overflow: hidden;*/

  /*padding: 25px;*/
  /*margin: 5px;*/
  /*position: absolute;*/
  cursor: pointer;
  border: 2px solid #1abc9c; ;
  background-color: white;
  padding: 14px 28px;
  font-size: 25px;
  color: #1abc9c;


}

#label:hover{
  background: #1abc9c;
  color: white;
}


#upload{
  text-align: center;
  margin: 60px;
}
#img,#word {
  margin-left: 20px;
  display: inline-block;
  vertical-align:top;

}





