.card {

  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 40em;
  display: block;
}


.card li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
}
.card li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.card li:hover {
  color: #1abc9c;
  background-color: #DDD;
  left: .1em;
}
.card .text {
  position: relative;
  top: -3px;
}
.card .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #1abc9c;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;

}

#keyword {
  color: #1abc9c;
}

.caption{
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content button:hover {background-color: #DDD}

.dropdown:hover .dropdown-content {
  display: block;
}

